{{- if .User -}}
  <h1>Your data</h1>

  <table>
    <tr>
      <td>Me</td>
      <td><pre>{{ .User.Domain }}</pre></td>
    </tr>
    <tr>
      <td>Micropub Endpoint</td>
      <td><pre>{{ .User.Endpoints.Micropub }}</pre></td>
    </tr>
    <tr>
      <td>IndieAuth Endpoint</td>
      <td><pre>{{ .User.Endpoints.IndieAuth }}</pre></td>
    </tr>
    <tr>
      <td>Tokens Endpoint</td>
      <td><pre>{{ .User.Endpoints.Tokens }}</pre></td>
    </tr>
    <tr>
      <td>Access Token</td>
      <td><pre>{{ .User.AccessToken }}</pre></td>
    </tr>
    <tr>
      <td>Trakt Connection</td>
      <td>
        {{- if .User.TraktOauth.AccessToken -}}
          <p>You seem to be successfully connected to Trakt.</p>
          <pre>{{ .User.TraktOauth.AccessToken }}</pre>
        {{- else -}}
          <p>You're not connected to Trakt.</p>
        {{- end -}}
      </td>
    </tr>
  </table>

  <h1>Imports</h1>

  <p>
    By default, we only start importing from the moment you created your account.
    However, you can force fetching older entries by using the action buttons bellow.
    The button will trigger, at most, 100 new posts.
  </p>

  <p>
    Every 30 minutes, we check if there are updates for every user. If so, we send the new posts.
    We always stop on the first failure.
  </p>

  <ul>
    <li><strong>Newest imported entry:</strong> {{ .User.NewestFetchedTime }}, id: {{ .User.NewestFetchedID }}</li>
    <li><strong>Oldest imported entry:</strong> {{ .User.OldestFetchedTime }}, id: {{ .User.OldestFetchedID }}</li>
  </ul>

  {{- if .Importing -}}
    <p><strong>Your Trakt records are currently being imported.</strong></p>
  {{- else -}}
    <p class="buttons">
      <a href="/trakt/import/newer">
        <button>Import Newer</button>
      </a>

      <a href="/trakt/import/older">
        <button>Import Older</button>
      </a>
    </p>

    <p class="buttons">
      <a href="/trakt/import/reset">
        <button class="red">Reset Imports</button>
      </a>
    </p>
  {{- end -}}
{{- else -}}
  <h1>Login</h1>
  <form action="/auth/start" method="GET">
    <input name="me" type="url" placeholder="https://your.name.com">
    <input type="submit" value="Login">
  </form>
{{- end -}}
