{{- if .User -}}
  <h1>Your data</h1>

  <table>
    <tr>
      <td>Me</td>
      <td><pre>{{ .User.Domain }}</pre></td>
    </tr>
    <tr>
      <td>Micropub Endpoint</td>
      <td><pre>{{ .User.Endpoints.Micropub }}</pre></td>
    </tr>
    <tr>
      <td>IndieAuth Endpoint</td>
      <td><pre>{{ .User.Endpoints.IndieAuth }}</pre></td>
    </tr>
    <tr>
      <td>Tokens Endpoint</td>
      <td><pre>{{ .User.Endpoints.Tokens }}</pre></td>
    </tr>
    <tr>
      <td>Access Token</td>
      <td><pre>{{ .User.AccessToken }}</pre></td>
    </tr>
    <tr>
      <td>Trakt Connection</td>
      <td>
        {{- if .User.TraktOauth.AccessToken -}}
          <p>You seem to be successfully connected to Trakt.</p>
          <pre>{{ .User.TraktOauth.AccessToken }}</pre>
        {{- else -}}
          <p>You're not connected to Trakt.</p>
        {{- end -}}
      </td>
    </tr>
    <tr>
      <td>Last Entry Fetched</td>
      <td>
        <p>Time: {{ .User.LastFetchedTime }}</p>
        <p>ID: {{ .User.LastFetchedID }}</p>
      </td>
    </tr>
  </table>
{{- else -}}
  <h1>Login</h1>
  <form action="/auth/start" method="GET">
    <input name="me" type="url" placeholder="https://your.name.com">
    <input type="submit" value="Login">
  </form>
{{- end -}}
