<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OwnYourTrakt</title>
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <div>
        <ul>
          <li><a href="/">OwnYourTrakt</a></li>
          {{ if .User }}
            <li><a href="/trakt/start">{{ if .User.TraktOauth.AccessToken }}Reconnect{{ else }}Connect{{ end }} Trakt</a></li>
            <li id="domain"><span>{{ .User.Domain }}</span></li>
            <li><a href="/auth/logout">Logout</a></li>
          {{ end }}
        </ul>
      </div>
    </header>

    <main>
      {{ yield }}
    </main>

    <footer>
      <div>
        © <a href="https://hacdias.com" rel="noopener noreferrer" target="_blank">Henrique Dias</a>. This code is <a href="https://github.com/hacdias/ownyourtrakt" target="_blank" rel="noopener noreferrer">open source</a>. Feel free to send a pull request, or <a href="https://github.com/hacdias/ownyourtrakt/issues/new" target="_blank" rel="noopener noreferrer">file an issue</a>.
      </div>
    </footer>
  </body>
</html>