<h1>Are you sure?</h1>

<p>
  By clicking in OK, you will reset the newest imported entry and the oldest imported entry and
  everything will be sent from scratch.
</p>

<p class="buttons">
  <a href="?sure=yes">
    <button class='red'>Reset</button>
  </a>

  <a href="/">
    <button>Cancel</button>
  </a>
</p>
