<h1>Are you sure?</h1>

<p>
  By clicking in OK, you will reset the newest imported entry and the oldest imported entry and
  everything will be sent from scratch.
</p>

<div class="buttons">
  <form method="POST">
    <button class='red'>Reset</button>
  </form>

  <a href="/">
    <button>Cancel</button>
  </a>
</div>
